.form-group {
  margin: auto !important;
  padding: auto !important;
  margin-top: 18px !important;
  margin-bottom: 18px !important;

  label {
    margin-left: 8px;
    margin-bottom: 8px;
  }
}

input, select, textarea {
  width: 235px !important;
  height: 36px !important;
  /* #F2F2F2 */
  background-color: transparent !important;
  border: solid 2px $gris-200 !important;
  box-shadow: inset 0 0 0 rgba(0,0,0,.075) !important;
}

textarea {
  height: 72px !important;
}

input:focus, select:focus, textarea:focus {
  border-bottom: solid 2px $azul-100 !important;
}

.btn-danger {
  background-color: $azul-400;
  border: solid 1px $azul-400;

  &:hover {
    background-color: #1E2029;
    border: solid 1px #1E2029;
  }
}

.btn-primary {
  background-color: $azul-100;
  border: solid 1px $azul-100;

  &:hover {
    background-color: $azul-100;
    border: solid 1px $azul-100;
  }
}