.alert {
    position: fixed;
    top:5px;
    right: 0px;
    padding: 15px 26px;
    margin-bottom: 20px;
    border: 1px solid rgba(0,0,0,0.26);
    border-radius: 0px !important;
}

.alert-title {
    width: 100%;
    padding: 10px 6px;
    margin-bottom: 15px;
    color: #FF435A;
    border-bottom: 1px solid rgba(0,0,0,0.26);
}

.alert-danger {
    color: #ffffff;
    background: rgba(35,35,35,0.91);
    box-shadow: 0px 9px 15px 0px rgba(0,0,0,0.26);
    border-left: solid 4px #FF435A;
}

#login-container {
    margin: auto;
    padding: auto;
    width: 564px;
    height: 335px;
    box-sizing: content-box !important;
    border: solid 2px #F2F2F2;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 10%;
}

.form-group {
    margin: auto !important;
    padding: auto !important;
    width: 225px !important;
    margin-top: 18px !important;
    margin-bottom: 18px !important;
}

.login-left {
    float: left;
    width: 250px;
    height: 100%;
    background: url("../images/codizer-logo.png")no-repeat center / 60%;
    background-color: #F2F2F2;
}

.login-right {
    float: left;
    width: 314px;
    height: 100%;
    background-color: #FFFFFF;

}

.txt-center {
    text-align: center;
}

.txt-right {
    float: right;
}

input#password, input#email {

    width: 235px !important;
    height: 36px !important;
    background-color: transparent !important;
    border: solid 2px #E2E2E2 !important;
    box-shadow: inset 0 0 0 rgba(0,0,0,.075) !important;
}

input#password:focus, input#email:focus {
    border-bottom: solid 2px #1A91F2 !important;
}