#icon-statistic-white {
  background-image: url("../images/icon-statistic-white.svg");
  background-size: 46%;
}

.form-config-statistic {
  @include prefixer(height, calc(100% - 173px));
  // overflow-x: hidden !important;
  overflow-y: auto !important;

  a {
    text-transform: uppercase;
    margin-top: 0px;
    width: 233px !important;
  }

}

.btn-input-txt-statistic {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 999;
  margin-right: 10px;
  margin-right: 10px;
  width: 288px;
  height: 80px;
  border-top: solid 1px $gris-line;

  p {
    margin-top: 15px;
    font-size: 12px;
    color: $gris-input-text;
    text-align: center;
  }

  button {
    float: right;
    margin-right: 20px;
    text-transform: uppercase;
    margin-top: 0px;
    width: 112px !important;
  }
}

.inactive {
  background-color: $gris-input !important;
  border: solid 1px $gris-input;
  margin-bottom: 2px;
  @include box-sizing(border-box);
  @include transition(.3s ease);

  &:hover {
    border: solid 1px $gris-input;
    background-color: $azul-400 !important;
  }
}

.active {
  color: $azul-100 !important;
  border-bottom: solid 1px $azul-100;

  @include box-sizing(border-box);
  @include transition(.3s ease);
}

.check-input {

  input {
    display: none;
  }
  width: 233px;

  &:hover {
    color: $blanco !important;
  }
}

